// This file is part of acceptableads.org.
// Copyright (C) 2016-present eyeo GmbH
//
// acceptableads.org is free software: you can redistribute it and/or modify
// it under the terms of the GNU General Public License as published by
// the Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.
//
// acceptableads.org is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU General Public License for more details.
//
// You should have received a copy of the GNU General Public License
// along with acceptableads.org.  If not, see <http://www.gnu.org/licenses/>.

// Default /////////////////////////////////////////////////////////////////////

%buttons
{
  display: inline-block;
  box-sizing: border-box;
  min-width: 150px;
  padding: 0 $sm;
  cursor: pointer;
  text-align: center;
  white-space: nowrap;
  text-decoration: none;
  text-transform: uppercase;
  border: 1px solid;
  border-radius: 0px !important;
  font-size: $font-size-md;
  font-weight: 700;
  line-height: 42px;
  height: 44px;
}

@media(max-width: $mobile-breakpoint)
{
  %buttons
  {
    display: block;
    float: none;
    margin: $sm 0;
    width: 100%;
  }
}

.btn-primary
{
  color: $inverted-fg;
  border-color: $inverted-bg;
  background-color: $inverted-bg;
}

.btn-primary%active
{
  color: $accent-fg;
  border-color: $accent-bg;
  background-color: $accent-bg;
}

// Accent solid ////////////////////////////////////////////////////////////////

.btn-accent
{
  color: $accent-fg;
  border-color: $accent-bg;
  background-color: $accent-bg;
}

.btn-accent%active
{
  color: $inverted-fg;
  border-color: $inverted-bg;
  background-color: $inverted-bg;
}

// Primary outline /////////////////////////////////////////////////////////////

.btn-outline-primary
{
  color: $primary-fg;
  border-color: $primary-fg;
  background-color: transparent;
}

.btn-outline-primary%active
{
  color: $accent-bg;
  border-color: $accent-bg;
}

// Accent outline //////////////////////////////////////////////////////////////

.btn-outline-accent
{
  color: $accent-bg;
  border-color: $accent-bg;
  background-color: transparent;
}

.btn-outline-accent%active
{
  color: $inverted-bg;
  border-color: $inverted-bg;
}

// Inline buttons //////////////////////////////////////////////////////////////

.inline-buttons
{
  margin-top: $lg;
  margin-bottom: $lg;
  text-align: right;
}

@media(min-width: $mobile-breakpoint)
{
  .inline-buttons a,
  .inline-buttons input
  {
    margin-left: $sm;
  }
}

// Button Container //////////////////////////////////////////////////////////////

.btn-container
{
  margin-top: $sm;
  margin-bottom: $sm;

  @media (min-width: $mobile-breakpoint)
  {
    margin-top: $md;
    margin-bottom: $md;
  }

  @media (min-width: $tablet-breakpoint)
  {
    margin-top: $lg;
    margin-bottom: $lg;
  }
}
