// This file is part of acceptableads.org.
// Copyright (C) 2016-present eyeo GmbH
//
// acceptableads.org is free software: you can redistribute it and/or modify
// it under the terms of the GNU General Public License as published by
// the Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.
//
// acceptableads.org is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU General Public License for more details.
//
// You should have received a copy of the GNU General Public License
// along with acceptableads.org.  If not, see <http://www.gnu.org/licenses/>.

input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
select
{
  display: block;
  box-sizing: border-box;
  width: 100%;
  height: $md;
  margin: $xs 0 $sm 0;
  padding: $xs / 2 $xs;
  color: $primary-fg;
  border: 1px solid $info-bg;
  border-radius: 5px;
  background-color: $primary-bg;
  box-shadow: none;
  font-size: $font-size-md;
  line-height: 20px;
}

select
{
  vertical-align: middle;
  background-color: $primary-bg;
}

textarea
{
  height: auto;
  min-height: $xl;
}

label
{
  display: block;
  font-size: $font-size-sm;
  font-weight: 700;
  line-height: 20px;
}

label em
{
  font-weight: 400;
  font-style: normal;
}
