// This file is part of acceptableads.org.
// Copyright (C) 2016-present eyeo GmbH
//
// acceptableads.org is free software: you can redistribute it and/or modify
// it under the terms of the GNU General Public License as published by
// the Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.
//
// acceptableads.org is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU General Public License for more details.
//
// You should have received a copy of the GNU General Public License
// along with acceptableads.org.  If not, see <http://www.gnu.org/licenses/>.

/*******************************************************************************
 * Youtube Embed
 ******************************************************************************/

.youtube-embed
{
  position: relative;
  height: 0;
  padding-top: 25px;
  padding-bottom: 56.25%; /* 16:9 */
}

/* .youtube-embed-video
 ******************************************************************************/

.youtube-embed-video
{
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  line-height: 1;
}

/* .youtube-embed-thumbnail
 ******************************************************************************/

.youtube-embed-thumbnail
{
  min-width: 100%;
  min-height: 100%;
  transition: opacity 0.8s;
}

.no-js .youtube-embed-thumbnail,
.show-disclaimer .youtube-embed-thumbnail
{
  opacity: 0.2;
}

/* .youtube-embed-disclaimer
 ******************************************************************************/

.youtube-embed-disclaimer
{
  visibility: hidden;
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 20px;
  opacity: 0;
  background-color: #fff;
  font-size: 0.9em;
  text-align: center;
  transition: opacity 0.8s;
}

.no-js .youtube-embed-disclaimer,
.show-disclaimer .youtube-embed-disclaimer
{
  visibility: visible;
  opacity: 1;
}

/* .youtube-embed-play
 ******************************************************************************/

.youtube-embed-play
{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80px;
  margin-top: -40px;
  margin-left: -40px;
}

.no-js .youtube-embed-play,
.show-disclaimer .youtube-embed-play
{
  margin-top: -60px;
}