</div>
<div class="bg-accent">
  <div class="container section group-container">
    <div class="group group-4">
      <? include example/card-center ?>
      <? include example/card-center ?>
      <? include example/card-center ?>
      <? include example/card-center ?>
    </div>
  </div>
</div>
<div class="container">
