title=Acceptable Ads criteria
description=The guidelines for online ads to be certified as Acceptable Ads
parent=about/index

<? include criteria/style ?>

<div class="section col-6 expand-on-tablet">
  <? include criteria/general ?>
</div>

<div class="section">

  <div class="section items">

    <div class="section">
      <h2 id="placement" class="item">{{placement[General criteria name] Placement}}</h2>
      <div class="row">
        <div class="col-6 push-6">
          <img alt="{{acceptable-ads-placement-alt[Alternative text for acceptable ads criteria placement image (is being shown when the image is not accessible)] Acceptable ads criteria placement}}" src="/img/png/general-criteria-placement.png" />
        </div>
        <div class="col-6 pull-6">
          <? include criteria/placement ?>
        </div>
      </div>
    </div>

    <div class="section">
      <h2 id="distinction" class="item">{{distiction[General criteria name] Distinction}}</h2>
      <div class="row">
        <div class="col-6 push-6">
          <img alt="{{acceptable-ads-label-alt[Alternative text for acceptable ads criteria label image (is being shown when the image is not accessible)] Acceptable ads criteria label}}" src="/img/png/general-criteria-label.png" />
        </div>
        <div class="col-6 pull-6">
          <? include criteria/distinction ?>
        </div>
      </div>
    </div>

    <div class="section">
      <h2 id="size" class="item">{{size[General criteria name] Size}}</h2>
      <div class="row">
        <div class="col-6 push-6">
          <img alt="{{acceptable-ads-percentage-alt[Alternative text for acceptable ads criteria percentage image (is being shown when the image is not accessible)] Acceptable ads criteria percentage}}" src="/img/png/general-criteria-percentages.png" />
        </div>
        <div class="col-6 pull-6">
          <? include criteria/size ?>
        </div>
      </div>
    </div>

  </div>
</div>

<div class="section col-6 expand-on-tablet items">
  <? include criteria/specific ?>
</div>

<div class="section col-6 expand-on-tablet">
  <? include criteria/not-acceptable ?>
</div>
